# *Control Flow*

In [17]:
a = 1
b = 3
c = [1, 2]
d = []

## *Condition*

In [2]:
print(a == b)
print(a != b)
print(a < b)
print(a <= b)
print(a > b)
print(a >= b)

False
True
True
True
False
False

In [3]:
print(a in c)

True

In [4]:
print(isinstance(a,int))

True

In [19]:
print(d is False)

False

In [7]:
print(len(d) == 0)

True

## *Multiple Conditions*

In [20]:
print(a == b and a in c)
print(a == b or a in c)

False
True

## *If, Elif, & Else Statements*

### *Simple If, Elif, & Else Statment*

In [22]:
a = 1
if a > 2:
  print('a lebih besar dari 2')

In [23]:
a = 2
b = 3
if a > b:
  print('a lebih besar dari b')
else:
  print('a lebih kecil dari b')

a lebih kecil dari b

In [26]:
a = -2
if a > 0:
  print(f'a adalah angka positif: nilai a adalah {a}')
elif a == 0:
  print('a adalah 0')
else:
  print(f'a adalah angka negatif: nilai a adalah {a}')

a adalah angka negatif: nilai a adalah -2

### *If, Elif, & Else Statement with Logical Operator `AND` & `OR`*

In [27]:
nama = 'andi'
umur = 26

In [28]:
if nama == 'budi' and umur == 26:
  print('nama dan umur cocok!')
elif nama == 'budi' or umur == 26:
  print('nama atau umur cocok loh')
else:
  print('nama & umur tidak cocok')

nama atau umur cocok

In [29]:
if nama == 'budi' and umur == 26:
  print('nama dan umur cocok!')
elif nama == 'budi' and umur != 26:
  print('nama cocok, tapi umur tidak cocok')
elif nama != 'budi' and umur == 26:
  print('nama tidak cocok, tapi umur cocok')
else:
  print('nama & umur tidak cocok')

nama tidak cocok, tapi umur cocok

### *Nested If, Elif, & Else Statement*

In [123]:
a = 9.3

In [124]:
if isinstance(a,int):
  if a > 0:
    if a >= 5:
      print(f'a adalah angka positif lebih dari sama dengan 5. Nilai a adalah {a}')
    else:
      print(f'a adalah angka positif kurang dari 5. Nilai a adalah {a}')
  elif a == 0:
    print('a adalah 0')
  else:
    print(f'a adalah angka negatif: nilai a adalah {a}')
elif isinstance(a,str):
  print('a adalah string')
else:
  print('a adalah selain string dan int')

a adalah selain string dan int

# *Looping*

In [45]:
list_buah = ['apel', 'anggur', 'belimbing', 'ceri', 'duren']

## *For Loop*

### *For Loop by Value*

*loop by value*, tanpa *index*

In [37]:
for value in list_buah:
  print(value)

apel
anggur
belimbing
ceri
duren

### *For Loop by Index*

Range

In [54]:
var_range = range(8)

print(type(var_range))
print(var_range)

<class 'range'>
range(0, 8)

In [55]:
print(list(var_range))

[0, 1, 2, 3, 4, 5, 6, 7]

In [56]:
for idx in range(8):
  print(idx)

0
1
2
3
4
5
6
7

*Loop by index using range*

In [58]:
print(len(list_buah))

5

In [74]:
for idx in range(len(list_buah)):
  print(idx)

0
1
2
3
4

In [65]:
print(list_buah[0])
print(list_buah[1])
print(list_buah[2])
print(list_buah[3])
print(list_buah[0:4])

apel
anggur
belimbing
ceri

In [68]:
for idx in range(len(list_buah)):
  print(idx, list_buah[idx])

0 apel
1 anggur
2 belimbing
3 ceri
4 duren

In [67]:
for idx in range(len(list_buah)):
  print(idx)
  if idx == 3:
    if list_buah[3] == 'belimbing':
      print('index ke-3 adalah belimbing!')
    else:
      print('index ke-3 BUKAN belimbing')

0
1
2
3
index ke-3 BUKAN belimbing
4

### *For Loop by Value & Index*

untuk bisa looping mendapatkan *value* & *index* nya, bisa menggunakan `enumerate()`

In [101]:
for idx, value in enumerate(list_buah):
  if idx == 3:
    if value == 'belimbing':
      print('index ke-3 adalah belimbing!')
    else:
      print('index ke-3 BUKAN belimbing')

index ke-3 BUKAN belimbing

bisa set *index* awalnya dgn parameter `start=<index_awal>`

In [73]:
for idx, value in enumerate(list_buah, start=5):
  print(idx, value)

5 apel
6 anggur
7 belimbing
8 ceri
9 duren

## *While Loop*

### *simple while loop*

In [83]:
a = 0
b = 5

while a <= b:
  print(a)
  a = a + 1

0
1
2
3
4
5

### *while loop with else*

In [78]:
a = 0
b = 5

while a <= b:
  print(a)
  a = a + 1
else:
  print('a skrg sudah lebih dari b')

0
1
2
3
4
5
a skrg sudah lebih dari b

In [91]:
is_found = True
idx = 0

while is_found is True:
  print(is_found)
  idx += 1

  if idx == 3:
    is_found = False

True
True
True

## *Pass, Break, & Continue Statements*

### *pass statement*

*pass statement* tidak akan mempengaruhi apa-apa

In [94]:
for idx in range(5):
  if idx == 3:
    pass
  print(f'index = {idx}')

index = 0
index = 1
index = 2
index = 3
index = 4

### *break statement*

*break statement* akan berhenti pada iterasi skrg, dan keluar dari loop

In [95]:
for idx in range(len(list_buah)):
  if idx == 3:
    break
  print(f'index = {idx}')

index = 0
index = 1
index = 2

In [96]:
a = 0
b = 5

while a <= b:
  print(f'a: {a}')
  a = a + 1

  if a == 3:
    break

a: 0
a: 1
a: 2

In [98]:
idx = 0

while True:
  print(True)
  idx += 1

  if idx == 3:
    break

True
True
True

### *continue statement*

*continue statement* akan skip iterasi skrg, dan lanjut iterasi selanjutnya

In [99]:
for idx in range(5):
  if idx == 3:
    continue
  print(f'index = {idx}')

index = 0
index = 1
index = 2
index = 4

In [135]:
list_of_dicts = [
    {'nama': 'agi', 'umur': 20},
    {'nama': 'budi', 'umur': 30},
    {'nama': 'anton', 'umur': 40}
]

In [136]:
for list_of_dict in list_of_dicts:
  print(list_of_dict)

{'nama': 'agi', 'umur': 20}
{'nama': 'budi', 'umur': 30}
{'nama': 'anton', 'umur': 40}

In [137]:
for idx, val in enumerate(list_of_dicts):
  print(idx, val['umur'])

0 20
1 30
2 40

In [144]:
for list_of_dict in list_of_dicts:
  for value in list_of_dict.items():
    print(value)

('nama', 'agi')
('umur', 20)
('nama', 'budi')
('umur', 30)
('nama', 'anton')
('umur', 40)

In [141]:
dict_user = {'nama': 'agi', 'umur': 20, 'sudah_menikah': False, 'alamat': 'jl. selatan no 99'}

In [142]:
for value in dict_user.items():
  print(value)

('nama', 'agi')
('umur', 20)
('sudah_menikah', False)
('alamat', 'jl. selatan no 99')

# ***Study Case Example***

In [145]:
list_nama = ['agus', 'sari', 'putri', 'bambang']
list_nilai = [83, 85, 68, 65]

**Instruksi:**

1. Dari `list_nama`, dan `list_nilai` di atas, buat ***list of dictionaries*** dgn key = **nama**, & **nilai**. Contoh:
```
[{'nama': 'agus', 'nilai': 83},
  {'nama': 'sari', 'nilai': 85},
  {'nama': 'putri', 'nilai': 68},
  {'nama': 'bambang', 'nilai': 65}]
```
2. Dengan standar kelulusan **75**, pastikan nama orang yang lulus masuk ke **list_lulus** dan nama orang yang tidak lulus masuk ke **list_remedial**

In [149]:
var_list = []

for nama, nilai in zip(list_nama, list_nilai):
  # print(nama, nilai)
  var_list.append([nama, nilai])

print(var_list)

[['agus', 83], ['sari', 85], ['putri', 68], ['bambang', 65]]

In [178]:
list_of_dict = []

for nama, nilai in zip(list_nama, list_nilai):
  hasil = {
      'nama': nama,
      'nilai': nilai
  }
  list_of_dict.append(hasil)

In [161]:
list_of_dict

[{'nama': 'agus', 'nilai': 83},
 {'nama': 'sari', 'nilai': 85},
 {'nama': 'putri', 'nilai': 68},
 {'nama': 'bambang', 'nilai': 65}]

In [167]:
print(list_of_dict[0]['nilai'])
print(list_of_dict[1]['nilai'])

83
85

In [168]:
list_lulus = []
list_remedial = []
idx = 0

while idx < len(list_of_dict):
  if list_of_dict[idx]['nilai'] >= 75:
    print(f'siswa bernama {list_of_dict[idx]["nama"]} dgn nilai mtk: {list_of_dict[idx]["nilai"]}, dinyatakan LULUS!')
    list_lulus.append(list_of_dict[idx]["nama"])
  elif list_of_dict[idx]['nilai'] < 75:
    print(f'siswa bernama {list_of_dict[idx]["nama"]} dgn nilai mtk: {list_of_dict[idx]["nilai"]}, dinyatakan TIDAK lulus!')
    list_remedial.append(list_of_dict[idx]["nama"])
  else:
    print(f'data siswa bernama {list_of_dict[idx]["nama"]} ERORR!')
  
  idx += 1

siswa bernama agus dgn nilai mtk: 83, dinyatakan LULUS!
siswa bernama sari dgn nilai mtk: 85, dinyatakan LULUS!
siswa bernama putri dgn nilai mtk: 68, dinyatakan TIDAK lulus!
siswa bernama bambang dgn nilai mtk: 65, dinyatakan TIDAK lulus!

In [169]:
print(list_lulus)
print(list_remedial)

['agus', 'sari']
['putri', 'bambang']

In [176]:
list_lulus = []
list_remedial = []

for value in list_of_dict:  
  if value['nilai'] >= 75:
    print(f'siswa bernama {value["nama"]} dgn nilai mtk: {value["nilai"]}, dinyatakan LULUS!')
    list_lulus.append(value["nama"])
  elif value['nilai'] < 75:
    print(f'siswa bernama {value["nama"]} dgn nilai mtk: {value["nilai"]}, dinyatakan TIDAK lulus!')
    list_remedial.append(value["nama"])
  else:
    print(f'data siswa bernama {value["nama"]} ERORR!')

siswa bernama agus dgn nilai mtk: 83, dinyatakan LULUS!
siswa bernama sari dgn nilai mtk: 85, dinyatakan LULUS!
siswa bernama putri dgn nilai mtk: 68, dinyatakan TIDAK lulus!
siswa bernama bambang dgn nilai mtk: 65, dinyatakan TIDAK lulus!

In [158]:
print(list_lulus)
print(list_remedial)

['agus', 'sari']
['putri', 'bambang']

# ***Study Case***

In [ ]:
list_nama = ['agus', 'sari', 'putri', 'bambang']
list_nilai_a = [70, 63, 84, 65]
list_nilai_b = [63, 44, 79, 83]

1. Dari `list_nama`, `list_nilai_a`, dan `list_nilai_b` di atas, buat ***list of dictionaries*** dgn key = **nama**, & **nilai_rata**. Contoh:
```
[{'nama': 'agus', 'nilai_rata': 66.5},
 {'nama': 'sari', 'nilai_rata': 53.5},
 {'nama': 'putri', 'nilai_rata': 81.5},
 {'nama': 'bambang', 'nilai_rata': 74.0}]
```
2. kelompokkan nilai berdasarkan range nilai:

*   **A**: 80 - 100
*   **B**: 70 - 79
*   **C**: 60 - 69
*   **D**: kurang dari 59

3. masukkan nama-nama siswa berdasarkan nilai rata-rata masing-masing, ke dalam **list_range_a**, **list_range_b**, **list_range_c**, **list_range_d**